<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <mat-list-item
        [ngStyle]="
          channel.id === selectedChannel.id && { backgroundColor: '#b3e5fc' }
        "
        (click)="selectChannel(channel)"
        routerLinkActive="list-item-active"
        *ngFor="let channel of (channels$ | async)"
      >
        <mat-icon mat-list-icon *ngIf="channel.id !== selectedChannel.id">star_border</mat-icon>
        <mat-icon mat-list-icon *ngIf="channel.id === selectedChannel.id">star</mat-icon>
        <h4 mat-line>{{ channel.name }}</h4>
        <p mat-line>{{ channel.users }}</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-content">
      <ul class="queued-tracks-list" #toPlay>
        <li
          class="queued-tracks-list__last-element queued-tracks-list__track"
        ></li>
        <li
          class="queued-tracks-list__track"
          *ngFor="let queuedTrack of queuedTracks.reverse()"
        >
          <div class="queued-track">
            <img
              class="queued-track__thumbnail"
              [src]="getThumbnail(queuedTrack.track)"
            />
            <div
              class="queued-track__title"
              [innerHTML]="queuedTrack.track.title"
            ></div>
            <div
              *ngIf="queuedTrack.addedBy && queuedTrack.addedBy.displayName"
              [innerHTML]="'~' + queuedTrack.addedBy.displayName"
            ></div>
          </div>
        </li>
      </ul>
      <sdj-awesome-player
        #playerComponent
        [src]="audioSrc"
        [track$]="currentTrack"
      >
      </sdj-awesome-player>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
