<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <mat-list-item
        [ngStyle]="
          channel.id === selectedChannel.id && { backgroundColor: '#777' }
        "
        (click)="selectChannel(channel)"
        routerLinkActive="list-item-active"
        *ngFor="let channel of channels$ | async"
      >
        # {{ channel.name }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-content">
      <ul class="queued-tracks-list" #toPlay>
        <li
          class="queued-tracks-list__track"
          *ngFor="let queuedTrack of queuedTracks"
        >
          <div class="queued-track">
            <img
              class="queued-track__thumbnail"
              [src]="getThumbnail(queuedTrack.track)"
            />
            <div class="queued-track__title">{{ queuedTrack.track.title }}</div>
            <div *ngIf="queuedTrack.addedBy.displayName">
              ~{{ queuedTrack.addedBy.displayName }}
            </div>
          </div>
        </li>
        <li
          class="queued-tracks-list__last-element queued-tracks-list__track"
        ></li>
      </ul>
      <sdj-awesome-player
        #playerComponent
        [src]="audioSrc"
        [track$]="currentTrack"
      >
      </sdj-awesome-player>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
