<link
  href="https://fonts.googleapis.com/css?family=Roboto:100"
  rel="stylesheet"
  type="text/css"
/>
<div class="player">
  <canvas></canvas>
  <div class="song">
    <div class="artist">DJ Paweł</div>
    <div class="name">OPEN FM</div>
  </div>
  <div class="playarea">
    <div class="prevSong"></div>
    <audio id="playerHtmlAudio"></audio>
    <div class="play"></div>
    <div class="pause"></div>
    <div class="nextSong"></div>
  </div>
  <div class="soundControl"></div>
  <div class="time">00:00</div>
</div>
