<div>
  Slack DJ:
  <audio id="dj" controls>
    <source src="http://radio-stream.local/dj" type="audio/mpeg" autoplay>
    Your browser does not support the audio element.
  </audio>
</div>
<div>
  <h1>Speech synthesiser</h1>

  <p>Enter some text in the input below and press return to hear it. change voices using the dropdown menu.</p>

  <form>
    <input type="text" class="txt">
    <div>
      <label for="rate">Rate</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
      <div class="rate-value">1</div>
      <div class="clearfix"></div>
    </div>
    <div>
      <label for="pitch">Pitch</label><input type="range" min="0" max="2" value="1" step="0.1" id="pitch">
      <div class="pitch-value">1</div>
      <div class="clearfix"></div>
    </div>
    <select>

    </select>
  </form>

  Open fm:
  <audio id="open" controls>
    <source src="http://stream.open.fm/109" type="audio/mpeg" autoplay>
    Your browser does not support the audio element.
  </audio>
</div>
