body,
html {
  height: 100%;
}

.app-loading {
  .logo {
    width: 10em;
    height: 10em;

    // this way asset gets processed by webpack
    background: center/100% url(assets/images/logo.jpg) no-repeat;
  }
}

.app-loading--first-screen {
  font-size: 20px;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 15em;
  width: 15em;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
